

body {
	background-image: url('../images/Gunther.png');
  	height: 50em;
  	max-width: 80em;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
	
}

#title{
  font-family: 'Sigmar one';
  font-size: 55px;
  color: darkorange;
  left: 34%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 19px;
  text-shadow: 7px 5px black;
  width: 9em;
  position: relative;
}

.hello, .remember {
	font-family: 'Indie Flower';
	font-size: 25px;
	margin-top: -28px;
}

.hello{
	font-size: 32px;
}
.intro {
	text-align: center;
	box-shadow: 5px	5px black;
}

.bubble {
  background-color: #136BBB;
  width: 350px;
  height: 23em;
  left: 23%;
  padding: 20px;
  border-radius: 28px;
  position: relative;
  box-shadow: 5px	5px black;
  text-align: center;
}

#pointer {
  content: "";
  display: block; 
  position: relative;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #136BBB;
  left: 370px;
  top: 56px;
}

#yeah {
  padding: 11px 23px;
  border-radius: 6px;
  background-color: green;
  font-size: 33px;
  float: center;
  font-family: fantasy;
  width: 150px;
  height: 69px;
}



.main-list {
	display: none;
}

#add-li {
  	height: 50px;
  	width: 150px;
  	margin-left: 14px;
  	margin-top: 0px;
  	border: 0px;
  	font-size: 25px;
  	border-radius: 8px;
}

#add-button {
  height: 50px;
  width: 142px;
  margin: 0px 19px;
  padding: 11px 10px;
  font-family: fantasy;
  font-size: 22px;
  border-radius: 5px;
  box-shadow: 3px 3px black;
  background-color: yellowgreen;
}

#list {
	text-align: center;
  	list-style-type: none;
  	padding-left: 0px;
}

.done {
  font-family: fantasy;
  font-size: 19px;
  width: 300px;
  background-color: rgb(255, 192, 49);
  margin: 5px auto;
  border-radius: 5px;
  text-decoration: line-through;
}

.todo{
  font-family: fantasy;
  font-size: 19px;
  background-color: rgb(245, 250, 54);
  width: 300px;
  margin: 5px auto;
  border-radius: 5px;
}

li {
	padding-top: 4px;
}

.nevermind{
  background-image: url('../images/X-mark.png');
  float: left;
  width: 30px;
  height: 29px;
  background-size: contain;
  background-color: rgb(245, 250, 54);
  border-width: 0px;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.gotten {
  background-image: url('../images/check-mark.png');
  float: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 29px;
  width: 30px;
  background-color: rgb(245, 250, 54);
  border-width: 0px;
  border-radius: 5px;
}

.redo{
	background-image: url('../images/circle.png');
	float: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 29px;
  width: 30px;
  background-color: rgb(245, 250, 54);
  border-width: 0px;
}

#error {
  font-family: 'Indie Flower';
  font-size: 17px;
  color: antiquewhite;
  margin-top: 3px;
  margin-bottom: 3px;
}