

.main-content {
	background-image: url('../images/Gunther.png');
	height: 50em;
	max-width: 80em;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
}

#title{
  font-family: 'Sigmar one';
  font-size: 55px;
  color: darkorange;
  margin-left: 9em;
  margin-top: 0;
  padding-top: 1em;
  text-shadow: 7px 5px black;
  width: 14em;
}

.hello, .remember {
	font-family: 'Indie Flower';
	font-size: 25px;
}

.intro {
	text-align: center;
	box-shadow: 5px	5px black;
}

.bubble {
  background-color: #136BBB;
  width: 350px;
  height: 20em;
  margin: -1em 20em;
  padding: 20px;
  border-radius: 28px;
  position: static;
  box-shadow: 5px	5px black;
  text-align: center;
}

.bubble:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid #136BBB;
	left: 709px;
	top: 425px;
}

#yeah {
	padding: 11px 23px;
	border-radius: 6px;
	margin-right: 75px;
	background-color: green;
	font-size: 15px;
}

#nope {
	padding: 11px 23px;
	border-radius: 6px;
	background-color: red;
	font-size: 15px;
}

.intro {
	display: none;
}
.main-list {
	display: none;
}

#add-li {
  	height: 50px;
  	width: 124px;
  	margin-left: 14px;
  	margin-top: 0px;
  	border: 0px;
  	font-size: 25px;
  	border-radius: 8px;
}

#add-button {
  height: 50px;
  width: 158px;
  margin: 0px 19px;
  padding: 11px 10px;
  font-family: fantasy;
  font-size: 22px;
  border-radius: 5px;
  background-color: yellowgreen;
}

#list {
	text-align: center;
  	list-style-type: none;
  	padding-left: 0px;
}

.done {
  font-family: fantasy;
  font-size: 19px;
  width: 300px;
  background-color: rgb(255, 192, 49);
  margin: 8px auto;
  border-radius: 5px;
  text-decoration: line-through;
}

.todo{
	font-family: fantasy;
  	font-size: 19px;
  	background-color: rgb(245, 250, 54);
  	width: 300px;
  	margin: 0 auto;
  	border-radius: 5px;
}

.nevermind{
  background-image: url('../images/X-mark.png');
  float: left;
  width: 30px;
  height: 29px;
  background-size: contain;
  background-color: rgb(245, 250, 54);
  border-width: 0px;
  background-repeat: no-repeat;
}

.got-it {
  background-image: url('../images/check-mark.png');
  float: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 29px;
  width: 30px;
  background-color: rgb(245, 250, 54);
  border-width: 0px;
}